[Unit]
Description = Server for remote controlled power outlets
After = network.target
[Service]
ExecStart = /var/www/html/backend/light_control.py
User=root
[Install]
WantedBy = multi-user.target
